/* Azorath */
@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathLight.eot');
  src: url('/fonts/AzorathLight.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AzorathLight.woff2') format('woff2'),
       url('/fonts/AzorathLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathRegular.eot');
  src: url('/fonts/AzorathRegular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AzorathRegular.woff2') format('woff2'),
       url('/fonts/AzorathRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathMedium.eot');
  src: url('/fonts/AzorathMedium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AzorathMedium.woff2') format('woff2'),
       url('/fonts/AzorathMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathBold.eot');
  src: url('/fonts/AzorathBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AzorathBold.woff2') format('woff2'),
       url('/fonts/AzorathBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} 