@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathRegular.woff2') format('woff2'),
       url('/fonts/AzorathRegular.woff') format('woff'),
       url('/fonts/AzorathRegular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathMedium.woff2') format('woff2'),
       url('/fonts/AzorathMedium.woff') format('woff'),
       url('/fonts/AzorathMedium.eot') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathBold.woff2') format('woff2'),
       url('/fonts/AzorathBold.woff') format('woff'),
       url('/fonts/AzorathBold.eot') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azorath';
  src: url('/fonts/AzorathLight.woff2') format('woff2'),
       url('/fonts/AzorathLight.woff') format('woff'),
       url('/fonts/AzorathLight.eot') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



@font-face {
    font-family: 'DrukTextCyr';
    src: url('/fonts/druktextcyr-medium.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/druktextcyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/druktextcyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/druktextcyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/druktextcyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/druktextcyr-medium.svg#druktextcyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukTextCyr-Bold';
    src: url('/fonts/druktextcyr-bold.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/druktextcyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/druktextcyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/druktextcyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/druktextcyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/druktextcyr-bold.svg#druktextcyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukTextCyr';
    src: url('/fonts/druktextcyr-super.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/druktextcyr-super.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/druktextcyr-super.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/druktextcyr-super.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/druktextcyr-super.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/druktextcyr-super.svg#druktextcyr-super') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}